body {
  background-color: black;
}
#navbar{
  box-shadow: 0px 3px 7px 2px  rgba(247, 202, 24, 1);
}

#button {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #f4f6f6;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #f4f6f6;
}

#button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #000708;
  box-shadow: 4px 5px 17px -4px #000708;
}

#button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #000708;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

#button:hover::before {
  width: 250%;
}
#footer{
  background-color: black;
}
#singlecard{
  background-color: black;
  box-shadow: 0px -5px 8px 0px rgba(255, 252, 252, 0.937)
}
.dropdown-menu{
  background-color:rgba(247, 202, 24, 1);
}
#li{
  background-color:rgba(247, 202, 24, 1);
}
.cardetail{
  margin: 150px;
  margin-top: 50px;
  box-shadow: 0px -5px 8px 0px rgba(247, 202, 24, 1);
}
